<%- include('../partials/head') %>
</head>

<!-- <body class="bg-[oklch(73.7%_0.021_106.9)]"> -->
    <body class="min-h-screen bg-slate-950
bg-[radial-gradient(circle_at_35%_35%,rgba(236,72,153,0.4),transparent_20%),radial-gradient(circle_at_65%_35%,rgba(236,72,153,0.4),transparent_20%),radial-gradient(circle_at_50%_60%,rgba(236,72,153,0.4),transparent_30%)]">

    <!-- Navbar -->
    <%- include('../partials/nav')%>

    <!-- Heading Section -->
    <section class="text-center mt-10">
        <h2 class="text-4xl font-bold 
                   bg-gradient-to-r from-indigo-600 to-pink-500 
                   text-transparent bg-clip-text">
            your favorite homes here
        </h2>
    </section>

    <!-- Home Cards Container -->
    <div class="flex flex-wrap justify-center gap-8 mt-12 px-6">

        <% home.forEach(home => { %>

            <!-- Single Card -->
            <div class="w-80 bg-white rounded-3xl shadow-md 
                        hover:shadow-2xl transition duration-300 
                        overflow-hidden group">

                <!-- Image -->
                <div class="relative overflow-hidden">
                    <img src="<%= home.photoUrl %>" 
                         alt=" <%= home.photoUrl %>"
                         class="w-full h-52 object-cover 
                                transform group-hover:scale-110 
                                transition duration-500">

                    <!-- Rating Badge -->
                    <div class="absolute top-3 right-3 
                                bg-white px-3 py-1 rounded-full 
                                shadow text-sm font-semibold 
                                text-yellow-500">
                        ⭐ <%= home.rating %>
                    </div>
                </div>

                <!-- Content -->
                <div class="p-5 space-y-2">

                    <!-- House Name -->
                    <h2 class="text-xl font-bold text-gray-800">
                        <%= home.houseName %>
                    </h2>

                    <!-- Location -->
                    <p class="text-gray-500 text-sm">
                        📍 <%= home.location %>
                    </p>

                    <!-- Price -->
                    <p class="text-lg font-semibold text-indigo-600">
                        ₹ <%= home.price %>
                        <span class="text-gray-400 text-sm font-normal">
                            / night
                        </span>
                    </p>

                        
                     <a href="/homes/<%= home.id %>" 
                   class="px-5 py-2 bg-indigo-600 text-white 
                          rounded-lg shadow-md 
                          hover:bg-indigo-800 
                          transition duration-300">
                   details
                </a>
                <form action="/favourites/delete/<%= home.id %>" method="POST">
                    <button  class="px-5 py-2 bg-red-500 text-white 
                          rounded-lg shadow-md 
                          hover:bg-red-700 
                          transition duration-300">Remove from favourite</button>
                </form>
              
            </div>

            </div>

        <% }); %>

    </div>

</body>
</html>